<!DOCTYPE hmtl>
<html lang=en>
<head>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="navbar-brand"><a href="{% url 'djangoapp:index' %}">Car Dealership</a></div>
            <ul class="navbar-nav flex-row mr-auto ml-2 p-1 justify-content-start">
                <li class="nav-item">
                <a class="navbar-brand p-0" href="{% url 'djangoapp:about' %}"> About us</a></li>
                <li class="nav-item"><a class="navbar-brand p-0" href="{% url 'djangoapp:contact' %}"> Contact us</a></li>
                </ul>
                <ul class="navbar-nav navbar-right justify-content-end">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </nav>
    <h2 class="mx-auto mt-10 pt-5 px-5">
        Contact us !</h2>
        <div class="mx-auto p-5" style="font-size:1.3em;"><h3>Our dealerships are keen to speek with you!!</h3><br>
        <p>Our lines are open: +1 (123) 456-7890<br><br>Or by email: dealership@djangoapp.com</p>
        <br><br><p>Have a great day !!</p>
        </div>
    
</body>
    <html>